{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "jsxSingleQuote": false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed"
}