.inputBlock {
  padding: 0.5rem 1rem 0.8rem;

  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > :first-child {
      margin-right: 0.8rem;
    }
  }
}
