.chatsRoot {
  display: flex;
  height: calc(100vh - 112px);

  > div {
    flex: 1;
  }
}

.chatsListRoot {
  width: '100%';
  max-width: rem(300px);
  height: 100%;
  overflow-y: auto;

  &.mobile {
    max-width: 100%;
  }

  .error {
    padding: rem(10px) rem(20px);
  }

  :global(.MuiListItemText-secondary) {
    overflow-x: hidden;
  }
}

.chatRoot {
  @include f-column;
  position: relative;

  .chatInfo {
    @include f-center-start;
    width: 100%;
    position: absolute;
    top: 0;
  }

  .backLink {
    margin-left: rem(10px);
    margin-right: rem(-10px);
  }

  .errorMessage {
    @include f-center;
    width: 100%;
    height: 100%;
  }

  .messagesBoxWrapper {
    margin-top: rem(72px);
    flex: 1 1 auto;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
  }

  .messagesBox {
    @include f-column;
    width: 100%;
    padding: rem(10px);
    padding-bottom: 0;
  }

  .message {
    @include f-column;
    align-items: flex-end;
    max-width: 100%;
    width: fit-content;
    padding: rem(10px);
    margin-bottom: rem(10px);
    word-wrap: break-word;
    word-break: break-all;

    > span:first-of-type {
      word-wrap: break-word;
      word-break: break-all;
    }

    > span:last-of-type {
      margin-top: rem(4px);
      font-size: rem(10px);
    }

    &.right {
      align-self: flex-end;
    }

    &.left {
      align-items: flex-start;
    }
  }

  .inputBox {
    padding: 0.5rem 1rem 0.8rem;

    .form {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > :first-child {
        margin-right: 0.8rem;
      }
    }
  }
}
